public/automations/invoice-processing/workflow.json
{
  "name": "Invoice Processing — Inbox to Ledger",
  "nodes": [
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000001",
      "name": "Invoice Inbox Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Watches the shared accounts-payable inbox for new mail with PDF/image attachments.",
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "resolved",
        "downloadAttachments": true,
        "dataPropertyAttachmentsPrefixName": "invoice_",
        "options": {
          "customEmailConfig": "[\"HEADER\",[\"HAS_ATTACHMENT\"]]"
        }
      },
      "credentials": {
        "imap": {
          "id": "ap-inbox-imap",
          "name": "Accounts Payable Inbox (IMAP)"
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000002",
      "name": "Has PDF Attachment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Object.keys($binary || {}).length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000003",
      "name": "Extract Invoice Data (AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 220],
      "notes": "Calls a document-extraction API that OCRs the PDF and returns structured invoice fields.",
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "https://api.docextract.ai/v1/invoices/parse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBinaryData": true,
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "document_type", "value": "invoice" },
            { "name": "output_schema", "value": "vendor_name,invoice_number,invoice_date,due_date,line_items,subtotal,tax,total" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 20000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "docextract-api-key",
          "name": "DocExtract AI API Key"
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000004",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 220],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "name": "vendorName", "type": "string", "value": "={{ $json.vendor_name }}" },
            { "name": "invoiceNumber", "type": "string", "value": "={{ $json.invoice_number }}" },
            { "name": "invoiceDate", "type": "string", "value": "={{ $json.invoice_date }}" },
            { "name": "dueDate", "type": "string", "value": "={{ $json.due_date }}" },
            { "name": "lineItems", "type": "array", "value": "={{ $json.line_items }}" },
            { "name": "subtotal", "type": "number", "value": "={{ $json.subtotal }}" },
            { "name": "tax", "type": "number", "value": "={{ $json.tax }}" },
            { "name": "total", "type": "number", "value": "={{ $json.total }}" },
            { "name": "receivedAt", "type": "string", "value": "={{ $now.toISO() }}" },
            { "name": "sourceEmailSubject", "type": "string", "value": "={{ $('Invoice Inbox Trigger').first().json.subject }}" }
          ]
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000005",
      "name": "Validate Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220],
      "notes": "Confirms required fields are present and that line-item totals reconcile with the stated total (within 1 cent tolerance).",
      "parameters": {
        "language": "javaScript",
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const d = item.json;\n  const missing = [];\n  if (!d.vendorName) missing.push('vendorName');\n  if (!d.invoiceNumber) missing.push('invoiceNumber');\n  if (!d.invoiceDate) missing.push('invoiceDate');\n  if (!Array.isArray(d.lineItems) || d.lineItems.length === 0) missing.push('lineItems');\n  if (typeof d.total !== 'number') missing.push('total');\n\n  const lineSum = Array.isArray(d.lineItems)\n    ? d.lineItems.reduce((sum, li) => sum + (Number(li.amount) || 0), 0)\n    : 0;\n  const expectedTotal = lineSum + (Number(d.tax) || 0);\n  const totalsReconcile = Math.abs(expectedTotal - (Number(d.total) || 0)) < 0.01;\n\n  const reasons = [...missing.map((f) => `Missing field: ${f}`)];\n  if (missing.length === 0 && !totalsReconcile) {\n    reasons.push(`Line items + tax (${expectedTotal.toFixed(2)}) do not match stated total (${Number(d.total).toFixed(2)})`);\n  }\n\n  results.push({\n    json: {\n      ...d,\n      isValid: missing.length === 0 && totalsReconcile,\n      validationReasons: reasons,\n    },\n  });\n}\nreturn results;"
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000006",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 220],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000007",
      "name": "Log Invoice to Ledger",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1560, 120],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "parameters": {
        "operation": "append",
        "documentId": { "mode": "list", "value": "1AccountsPayableLedgerSheetId" },
        "sheetName": { "mode": "name", "value": "Invoices" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor": "={{ $json.vendorName }}",
            "Invoice Number": "={{ $json.invoiceNumber }}",
            "Invoice Date": "={{ $json.invoiceDate }}",
            "Due Date": "={{ $json.dueDate }}",
            "Subtotal": "={{ $json.subtotal }}",
            "Tax": "={{ $json.tax }}",
            "Total": "={{ $json.total }}",
            "Received At": "={{ $json.receivedAt }}",
            "Status": "Synced"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gsheets-ap-ledger",
          "name": "Google Sheets — AP Ledger"
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000008",
      "name": "Notify — Synced",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1780, 120],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "mode": "name", "value": "#accounts-payable" },
        "text": "=✅ Invoice synced: *{{ $json.vendorName }}* — #{{ $json.invoiceNumber }} — ${{ $json.total }} — logged to the AP ledger, due {{ $json.dueDate }}."
      },
      "credentials": {
        "slackApi": {
          "id": "slack-finance-bot",
          "name": "Slack — Finance Bot"
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-000000000009",
      "name": "Notify — Needs Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1560, 420],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500,
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "mode": "name", "value": "#accounts-payable" },
        "text": "=⚠️ Invoice needs manual review — *{{ $json.vendorName || 'Unknown vendor' }}* ({{ $json.sourceEmailSubject }}). Reasons: {{ $json.validationReasons.join('; ') }}"
      },
      "credentials": {
        "slackApi": {
          "id": "slack-finance-bot",
          "name": "Slack — Finance Bot"
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-00000000000a",
      "name": "Notify — Extraction Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [680, 420],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "mode": "name", "value": "#accounts-payable" },
        "text": "=🛑 Could not extract invoice data from an incoming email (subject: \"{{ $('Invoice Inbox Trigger').first().json.subject }}\"). Attachment may be unreadable — routed for manual entry."
      },
      "credentials": {
        "slackApi": {
          "id": "slack-finance-bot",
          "name": "Slack — Finance Bot"
        }
      }
    },
    {
      "id": "a1e4b0e0-1a2b-4c3d-8e5f-00000000000b",
      "name": "No Attachment — Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [460, 460],
      "parameters": {}
    }
  ],
  "connections": {
    "Invoice Inbox Trigger": {
      "main": [[{ "node": "Has PDF Attachment?", "type": "main", "index": 0 }]]
    },
    "Has PDF Attachment?": {
      "main": [
        [{ "node": "Extract Invoice Data (AI)", "type": "main", "index": 0 }],
        [{ "node": "No Attachment — Skip", "type": "main", "index": 0 }]
      ]
    },
    "Extract Invoice Data (AI)": {
      "main": [
        [{ "node": "Normalize Fields", "type": "main", "index": 0 }],
        [{ "node": "Notify — Extraction Failed", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Fields": {
      "main": [[{ "node": "Validate Invoice", "type": "main", "index": 0 }]]
    },
    "Validate Invoice": {
      "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]]
    },
    "Valid?": {
      "main": [
        [{ "node": "Log Invoice to Ledger", "type": "main", "index": 0 }],
        [{ "node": "Notify — Needs Review", "type": "main", "index": 0 }]
      ]
    },
    "Log Invoice to Ledger": {
      "main": [
        [{ "node": "Notify — Synced", "type": "main", "index": 0 }],
        [{ "node": "Notify — Needs Review", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
